@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Ubuntu:wght@300&display=swap');

* {
    /* border: 1px solid white; */
    color: #E1F1FF;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: rgb(105, 130, 105);
}


/* -------------------THIS CONTROLS THE HEADER AND NAVIGATION------------------- */

header {
    width: 100%;
    height: max(70px, 6vh);
    display: block;
    background-color: #020305;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}

.nav-logo {
    height: 100%;
    display: table;
    float: left;
    color: #E1F1FF;
}

.nav-logo span {
    color: #E1F1FF;
    transition: 0.5s;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
}

.nav-list {
    float: right;
    height: 100%;
}

.nav-list li {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.nav-list li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #E1F1FF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    transition: 0.3s;
}

.hamburger {
    display: none;
    cursor: pointer;
    float: right;
    height: 100%;
}

.hamburger li {
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}

.hamburger li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #E1F1FF;
    font-family: sans-serif;
    transition: 0.3s;
}

.nav-list li:last-child {
    padding: 0 0 0 20px;
}

.nav-list a:hover {
    color: #698269;
    transition: 0.2s;
}

.nav-logo :hover {
    color: #698269;
    transition: 0.5s;
}



.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}


/* tablet screen */
@media (max-width: 992px) and (hover: none) {

    header {
        background-color: #020305;
    }

    .nav-logo :hover {
        color: rgb(192, 196, 208);

    }

    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
    }


}

/* phone screen */
@media (max-width: 768px) {
    header {
        background-color: #020305;
    }

    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
    }



}

.cursor {
    background: black;
    line-height: 0px;
    margin-top: 23px;
    margin-left: 4px;
    animation: blink 0.8s infinite;
    width: 3px;
    height: 22px;
}

@keyframes blink {
    0% {
        background: black;
    }

    50% {
        background: #E1F1FF;
    }

    100% {
        background: black;
    }
}

/* ---------------------THIS CONTROLS THE SIDE BAR CONTACTS--------------------- */


#sidebar-contact {
    position: sticky;
    top: 40%;
    float: left;
    margin-left: 5vh;
    margin-right: 0;
    /* background-color: red; */
}

#sidebar-contact h4 {
    color: #020305;
    font-size: 22px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

#line {
    display: inline-block;
    width: 2px;
    height: 32vh;
    margin-bottom: 12px;
    background-color: #020305;
}

#sidebar-contact img {
    margin-bottom: 20px;
    filter: invert(0);
    transition: 0.2s;

}

#sidebar-contact img:hover {
    transform: scale(2);
}

@media screen and (max-width: 992px) {
    #sidebar-contact {
        display: none;
    }
}


/* ------------------------------THIS CONTROLS MAIN------------------------------ */

main {
    width: 100%;
    margin: auto;
    height: 100%;
}


section {
    max-width: 60%;
    margin-inline: auto;
}

@media screen and (max-width: 992px) {

    section {
        max-width: 70%;
    }
}

@media screen and (max-width: 768px) {

    section {
        max-width: 90%;
    }
}

/* -------------------------THIS CONTROLS HOME SECTION------------------------- */

#anchor-home {
    height: max(800px, 94vh);
    display: flex;
    font-family: sans-serif;
    font-size: 1rem;
    margin-left: 20%;
}


.home-text {
    flex: 50%;
    text-align: left;
    margin: 20vh 0px 0 0;
}

.home-text h2 {
    font-size: 1.4rem;
    font-weight: 1;
}

.home-text h1 {
    margin: 2vh 0;
    font-size: 4em;
    font-weight: 20;

}

.home-text strong {
    font-family: 'Source Code Pro', monospace;
    color: #9ebfff;
}

.home-text h3 {
    margin: 3vh 0;
    font-size: 2em;
    font-weight: 20;
}

#anchor-home aside {
    flex: 50%;
    margin: 20vh 10px;
    text-align: center;
}

#anchor-home aside img {
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;

}

@media screen and (min-width: 992px) and (hover: hover) {
    #anchor-home aside img:hover {
        filter: grayscale(1);
        transform: scale(1.1);
    }
}

@media screen and (max-width: 992px) {

    #anchor-home {
        flex-wrap: wrap;
        width: 90% !important;
        margin-left: auto;
    }

    .home-text {
        padding-top: 5vh;
        margin-top: 3vh;
        font-size: 0.7em;
        margin-bottom: 0;
        max-width: 100%;
    }

    #anchor-home aside {
        margin: 0 0;
        padding-top: 0;
        /* text-align: center; */
        max-height: 40%;
        max-width: 100%;
    }

    #anchor-home aside img {
        height: 100%;
    }
}




/* -------------------------THIS CONTROLS ABOUT SECTION------------------------- */

#anchor-about {
    height: max(800px, 100vh);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: sans-serif;

}

#anchor-about * {
    /* border: 1px solid white; */
}

.about-text {
    margin: auto;
}

.about-text h2 {
    color: #101811;
    font-size: 3em;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.7em;
}

.about-text h3 {
    margin-top: 20px;
    font-size: 1.7em;

}

.about-text h4 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    border-bottom: 1px solid #3D4A3D;
    padding: 20px 0;
    font-size: 1.4em;
}

.about-text ul {
    display: flex;
    justify-content: space-around;
}

.about-text li {
    border: 2px solid #3D4A3D;
    padding: 10px;
    margin: 20px;
    flex: 50%;
    max-width: 90%;
}

.about-text .descrip {
    padding-top: 12px;
}

.about-text ul li p {
    font-size: 1.3em;

}

@media screen and (max-width: 768px) {
    #anchor-about {
        height: max(1400px, 120vh);
    }

    .about-text ul {
        flex-wrap: wrap;
    }
}


/* ----------------------THIS CONTROLS PHOTOGRAPHY SECTION---------------------- */

#anchor-photography {
    max-width: 1944px !important;
    /* border: 1px solid white; */
}

#anchor-photography * {
    font-size: 0;
}


.pictures-one {
    display: flex;
    flex-wrap: wrap;
}

.pictures-one li {
    flex: 25%;
}

.pictures-one li img {
    width: 100%;
}

.pictures-two {
    display: flex;
    flex-wrap: wrap;
}

.pictures-two li {
    flex: 16.667%;
}

.pictures-two li img {
    max-width: 100%;
    height: auto;
}

@media screen and (hover: hover) {
    li img {
        transition: 0.3s;
    }

    li img:hover {
        transform: scale(1.05);
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px) {
    .pictures-one li {
        flex: 100%;
    }

    .pictures-two li {
        flex: 100%;
    }

    .pictures-two li img {
        width: 100%;
        object-fit: cover;
    }
}


/* ----------------------------THIS CONTROLS FOOTER----------------------------- */

footer {
    text-align: center;
    height: 10vh;
    padding: 2vh;
}

footer button {
    margin-top: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    padding: 10px 10px;
}

footer ul img {
    filter: invert(1);
    transition: 0.3s;
}

footer ul img:hover {
    transform: scale(2);
}